{% extends "password_reset/base.html"%}
{% block title %} Change Password {% endblock %}
{% block content %}

  {% load crispy_forms_tags %}
  
  <!--Password Reset Confirm-->
    <div class="container p-5">
		<p class="text-xl font-bold">Password reset confirm.</p>
		<hr>
        <p>Please enter your new password.</p>
    <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
            <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}                    
                <!-- <div class="relative w-full mb-3">
                    <label class="block uppercase text-gray-700 text-xs font-bold mb-2" for="grid-password">New Password</label>
                    <input type="password" name="new_password1" class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full" placeholder="New Password" style="transition: all 0.15s ease 0s;">
                </div>
                <div class="relative w-full mb-3">
                    <label class="block uppercase text-gray-700 text-xs font-bold mb-2" for="grid-password">Confirm Password</label>
                    <input type="password" name="new_password2" class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full" placeholder="Confirm Password" style="transition: all 0.15s ease 0s;">
                </div> -->
                <div class="text-center mt-6">
                    <button class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full" type="submit" style="transition: all 0.15s ease 0s;">Change Password</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
