{% extends "password_reset/base.html"%}
{% block title %} Enter Email Id {% endblock %}
{% block content %}

	{% load crispy_forms_tags %}     
	{% if messages %}
	<ul>
	   {% for message in messages %}
		   <li>{{ message }}</li>
	   {% endfor %}
	</ul>
	{% endif %}     

	<!--Reset Password-->
	<div class="container p-5">
		<p class="text-xl font-bold">Reset Password</p>
		<br>
		<p>Forgotten your password?<br> Enter your email address below, and we'll email instructions for setting a new one.</p>
			<br><div class="flex-auto px-4 lg:px-10 py-10 pt-0">
	
				<form method="POST">
					{% csrf_token %}
					<div class="relative w-full mb-3">
						<label class="block uppercase text-gray-700 text-xs font-bold mb-2" for="grid-password">Enter Email Id</label>
						<input type="email" name="email" class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full" placeholder="Email" style="transition: all 0.15s ease 0s;">
					</div>
					<div class="text-center mt-6">
						<button type="submit" class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full" type="button" style="transition: all 0.15s ease 0s;">Submit</button>
					</div>
				</form>
			</div>                
  	</div> 

{% endblock %}