{% extends "password_reset/base.html"%}
{% block title %} Password reset sent {% endblock %}
{% block content %}

	<!--Password reset sent-->
	<div class="container p-5">
  	<p class="text-xl font-bold">Password reset sent.</p>
		<hr>
		<p><br>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br><br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
  </div>

{% endblock %}